<div id="userFollowers">
    <div class="row">
        <ul id="followersNavigation" class="col-sm-3">
            <h2>{{isFollowers ? "My followers" : "I'm following"}}</h2>
            <li ng-repeat="follower in userFollowers"
                ng-click="setActiveFollower(follower)"
                class="{{follower.isActive ? 'active' : ''}}">
                {{follower.login}}
            </li>
        </ul>
        <div class="col-sm-9">
            <h2>repositories</h2>
            <ul id="repositories">
               <li ng-repeat="repo in activeFollower.repositories">
                   <p>clone_url: <a ng-href="{{repo.clone_url}}">{{repo.clone_url}}</a></p>
               </li>
            </ul>
        </div>
    </div>
</div>